@font-face {
    font-family: 'Coolvetica';
    src: url('../fonts/Coolvetica.eot');
    src: url('../fonts/Coolvetica.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Coolvetica.woff2') format('woff2'),
        url('../fonts/Coolvetica.woff') format('woff'),
        url('../fonts/Coolvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
