<!-- related articles -->
<section class="co-bg-ma2 p-y8 m-t8">
  <div class="container is-large">

    <h3>Related</h3>


    <div class="grid gutter-6">

      <!-- item -->
      <article class="wi-3-12">
        <include src="partials/itm-post.html" locals='{
            "title": "Amalfi Coast Escape",
            "image": "images/img-det1.jpg",
            "text": "From Naples to Positano, we parked on cliffside vistas, cooked fresh pasta in our tiny kitchen, and savored sunrise aperitivos over glittering Mediterranean waters.",
            "link": "det1.html"
          }'></include>

      </article>
      <!-- / item -->

      <!-- item -->
      <article class="wi-3-12">
        <include src="partials/itm-post.html" locals='{
            "title": "Alentejo Hideaway",
            "image": "images/img-det2.jpg",
            "text": "Drifting through Portugal’s Alentejo, we tucked into ancient white villages, harvested olives, picnicked by a tranquil river, and fell asleep beneath a canopy of stars. ",
            "link": "det2.html"
          }'></include>

      </article>
      <!-- / item -->


      <!-- item -->
      <article class="wi-3-12">
        <include src="partials/itm-post.html" locals='{
            "title": "Nordic Fjord Journe",
            "image": "images/img-det3.jpg",
            "text": "Guided by Norway’s midnight sun, our solar‑charged van traced emerald fjords, camped beside thundering waterfalls, and proved eco‑friendly travel thrives in rugged wilderness.",
            "link": "det1.html"
          }'></include>

      </article>
      <!-- / item -->


      <!-- item -->
      <article class="wi-3-12">
        <include src="partials/itm-post.html" locals='{
            "title": "Midnight Sun in the Lofoten Archipelago",
            "image": "images/img-det4.jpg",
            "text": "A couple’s spontaneous detour to Norway’s rugged islands turned a simple parking spot into a surreal midnight‑sun picnic, complete with fresh cod and dancing lanterns.",
            "link": "det1.html"
          }'></include>

      </article>
      <!-- / item -->





    </div>



  </div>
</section>
<!-- / related articles -->