  <div class="container is-large">

    <div class="grid">

      <div class="wi-4-12">
        <div class="logo">
          <a href="index.html">
            <img src="images/logo.svg" alt="">
          </a>
        </div>
      </div>

      <div class="wi-8-12 fx fx-jst-end fx-jst-center-sm">
        <nav class="nav-main">

          <ul class="p-t4 tx-poc-sm">
            <li><a href="categoria.html">Stories</a></li>
            <li><a href="categoria2.html">Room Tours</a></li>
            <li><a href="https://roadsurfer.com/" target="_blank">Van Rental</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="links.html">Links</a></li>
          </ul>
        </nav>

      </div>
    </div>


  </div>
